@import "../../styles/variables.scss";
@import "../../styles/fonts.scss";

.cardButton {
  &__btn {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__title {
    background: $category-btn-tag;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    height: 32px;
    width: 160px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 10%;
    box-shadow: 6px 11px 9px -6px rgba(0, 0, 0, 0.32);
  }
}