@import "../../styles/variables.scss";
@import "../../styles/media-queries.scss";

.header {
  &__links-link {
    color: $font-color-dark;
    padding: 10px;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links-pages {
    display: flex;
    align-items: center;
    justify-content: right;
    max-width: 500px;
    margin-left: 2.5rem;
    @include mobile-only {
      margin-left: 0.1rem;
    }
  }

  &__container {
    background-color: $background-box;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }

  &__logo {
    width: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile-only {
      width: 100px;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto;
    width: 90%;
    max-width: 500px;
    padding: 10px;
    border-radius: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
    background-color: $background-generic;
    border: 1px solid $font-color-dark;
  }

  &__lang {
    margin-left: 15px;
    padding-right: 10px;
  }

  &__lang-btn {
    background: none;
    color: $font-color-dark;
    border: none;
    font-weight: 700;
    cursor: pointer;
  }
  &__lang-btn:hover {
    background: $font-color-dark;
    border-radius: 30%;
    color: $font-color-light;
    border: none;
    font-weight: 700;
  }
}
